table th {
    text-align: start;
}
.account-list table tbody td div:has(input) {
    align-self: center;
}
.account-list table input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.account-list table label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100%;
	height: 1.5rem;     
	background: rgb(214, 41, 41);
	display: block;
	border-radius: 100px;
	position: relative;
}

.account-list table label:after {
	content: '';
	position: absolute;
	top: 5px;       
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}           

.account-list table input:checked + label {
	background: #4bca32;
}

.account-list table input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}